@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(213, 148, 44);
    --estilo-fuente: 'Playfair Display';

}

body {
    height: 100vh;
    font-size: 14px;
    font-family: "Montserrat";
}

::selection {
    background: var(--color-principal); /* Color de fondo al seleccionar */
    color: black /* Color del texto al seleccionar */
}

.navbar-brand img{
    width: 5em;
    height: 4em;
    object-fit: contain;
}

.nav-link {
    font-weight: 600;
}

.nav-link.register{
    padding: 0.7em;
    background: var(--color-principal);
    color: rgb(250, 241, 228);
    --bs-nav-underline-border-width: 0;
}

.session {
    text-align: center;
}

.title, .subtitle, .number {
    font-family: var(--estilo-fuente);
}

/* Colors */

.text-color {
    color: var(--color-principal);
}


/* Footer */
.redes {
    align-items: center;
}

.redes figure {
    padding: 0.5em;
    border-radius: 50%;
    margin: 0;
}

/* Modal */

.btn-color:hover{
    background: var(--color-principal);
    color: rgb(250, 241, 228);
    --bs-nav-underline-border-width: 0;
    border: none;
}

.btn-color{
    background: gray;
    color: rgb(250, 241, 228);
    --bs-nav-underline-border-width: 0;
    border: none;
}


.form-control:focus {
    box-shadow:  0 0 0.25rem rgba(153, 104, 48,.25);
    border-color: var(--color-principal);
}
