:root {
    --color-principal: rgb(213, 148, 44);
    --color-secundario: rgb(241, 241, 241);
    --color-contenedor: #fff;
    --estilo-fuente: 'Playfair Display';

}

/* Section */

.banner {
    text-align: center;
    --bs-gutter-x: 0;
}

.banner.title{
    font-size: 3em;
}

.banner.subtitle {
    font-size: 14px
}

.banner-img {
    height: 25rem;
}

.banner-img img, .double-img-side div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tl-sct-two {
    color: var(--color-principal);
    font-size: 4em;
    font-weight: 100;
}

.double-img-side {
    height: 30rem;
}

.double-img-side div{
    height: 100%;
}

.aproveed col{
    color: rgb(68, 54, 43);
    
}

.aproveed .number {
    font-size: 3.5em;
}


/* Card */

.card {
    border: 1px solid var(--color-principal);
    height: 100%;
    padding: 2em;
    border-radius: 0;
}

.card-header {
    background-color: #fff;
}

.card-figure, .card-figure img {
    height: 100%;
}


/* Sección 3 */

.promotion {
    color: rgb(153, 104, 48);
    font-style: italic;
    text-decoration: underline 1px;
}
 

.animado-section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
.visible {
    opacity: 1;
}